html,body{
	width:100%;
	height: 100%;
	padding:0px;
	margin:0px;
}
body{
	display:flex;
	font-family:sans-serif;
	overflow:hidden;
}
nav{
	background:orangered;
	padding:20px;
	gap:20px;
	flex:1;
	display:flex;
	flex-direction:column;
	gap:20px;
}
nav a{
	background:white;
	color:orangered;
	text-decoration:none;
	padding:10px;
}
main{
	padding:20px;
	flex:4;
	height:100%;
	overflow-y:scroll;
}
table td{
	padding:10px;
}
table{
	border:2px solid black;
	width:100%;
	margin-bottom: 50px;
}
th{
	background:orangered;
	color:white;
	padding:10px;
}
